.header-1 {
    margin: 15px 25px;
    display: flex;
    justify-content: flex-end;
}

.card-name {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 10px;
}

.card-name h5 {
    color: #74B7BD;
    font-weight: bold;
    font-size: 16px;
    margin: 0px;
}

.card-name p {
    margin: 0px;
    font-weight: bold;
}

.card-name p:last-child {
    color: teal;
}

.content1 {
    display: flex;
    flex-wrap: wrap;
}

.content1 .card-item {
    flex-basis: 30%;
    margin: 15px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 25px;
    padding: 15px;
}

.content1 .card-item h5 {
    color: #74B7BD;
    font-weight: bold;
    font-size: 18px;
}

.content1 .card-item .detail {
    display: flex;
    height: 80px;
}

.content1 .card-item .detail .information {
    flex-basis: 50%;
    padding-top: 15px;
    font-size: 16px;
    font-weight: bold;
}

.content1 .card-item .detail .icon {
    flex-basis: 50%;
    text-align: right;
    position: relative;
}

.content1 .card-item .detail img {
    width: 60px;
    height: auto;
    max-height: 60px;
    top: 10px;
    right: 0px;
    position: absolute;
}

.content2 {
    margin: 25px auto;
    max-width: 1040px;
}

.content2 .header {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: bold;
    color: #74B7BD;
}

.content2 .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content2 .content .left-side {
    flex-basis: 50%;
}

.content2 .content .right-side {
    flex-basis: 50%;
    text-align: right;
    max-height: 300px;
}

.content2 .content .center-side {
    flex-basis: 100%;
    text-align: center;
}

.content2 .content .center-side canvas {
    max-height: 300px;
    max-width: 500px;
    margin: auto;
}

.content2 .content .right-side canvas {
    max-width: 500px;
    max-height: 300px;
}

.content2 .content .left-side canvas {
    max-height: 300px;
    max-width: 500px;
}

.content3 {
    margin: 25px;
}

.content3 .header {
    font-weight: bold;
    color: #74B7BD;
    font-size: 20px;
    text-align: center;
}

.content3 .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px auto;
}

.content3 .content .item {
    border: 1px solid lightgray;
    margin: 15px;
    flex-basis: 20%;
}

.content3 .content .item .desc-item {
    max-height: 10px;
    opacity: 0;
    transition: opacity 1s, max-height 0.5s;
}

.content3 .content .item:hover .desc-item {
    max-height: 200px;
    opacity: 1;
}

.content3 .content .item .tag {
    border-radius: 25px;
    background-color: aqua;
    width: 45%;
    text-align: center;
    margin: 10px auto;
}

.content3 .content .item .header-item img {
    width: 150px;
    height: auto;
}

.content3 .content .item .header-item h5 {
    font-weight: bold;
    color: #74B7BD;
    margin: 0px;
    font-size: 18px;
    transition: all 0.5s;
    cursor: pointer;
}

.content3 .content .item .header-item h5:hover {
    color: #6bebf7;
}

.content3 .content .item .header-item p {
    color: white;
}

.content3 table {
    width: 100%;
    margin: 10px 0px;
}

.content3 .content table th {
    text-align: center;
}

.content3 .content table td {
    font-weight: bold;
    font-size: 11px;
}

.content3 .content .footer-item .sub {
    text-align: left;
    margin: 5px 0px 0px 0px;
    font-weight: bold;
}

.content3 .content .footer-item p {
    text-align: left;
    margin: 0px;
}

.content3 .content .footer-item .breed-count {
    text-align: left;
    font-weight: bold;
    color: purple;
}

.content3 .content .footer-item .status {
    display: flex;
}

.content3 .content .footer-item .status .stats {
    display: flex;
    margin: 0px 2px;
}

.content3 .content .footer-item .status .stats img {
    width: 20px;
    height: 20px;
}

.content3 .content .footer-item .status .stats p {
    font-weight: bold;
    color: gray;
    padding-top: 2px;
    font-size: 11px;
}

.content4 .header {
    font-weight: bold;
    color: #74B7BD;
    font-size: 20px;
    text-align: center;
}

.content4 table {
    width: 100%;
    margin: 10px 0px;
}

.content4 td img {
    width: 90px;
    height: auto;
}

.content4 td {
    background-color: white;
    padding: 10px;
}

.content4 tr td:last-child {
    font-weight: bold;
}

#myChart1 {
    max-height: 320px;
}

/* FOR LAPTOP SMALL SIZE */

@media screen and (max-width: 1320px) and (min-width: 1024px) {
    .content4 td img {
        width: 80px;
    }
}

/* FOR TABLET DEVICE */

@media screen and (max-width: 1023px) and (min-width: 600px) {
    .content1 .card-item {
        flex-basis: 45%;
    }
    .content4 td img {
        width: 50px;
        height: auto;
    }
    .content3 .content .item {
        flex-basis: 45%;
    }
}

/* FOR MOBILE DEVICE */

@media screen and (max-width: 600px) {
    .header-1 {
        margin: 0px;
        justify-content: center;
    }
    .content1 .card-item {
        flex-basis: 100%;
        margin: 15px 0px;
    }
    .card-name p:last-child {
        font-size: 3.5vw;
    }
    .content2 .content {
        flex-wrap: wrap;
    }
    .content2 .content .left-side {
        flex-basis: 100%;
        text-align: center;
    }
    .content2 .content .right-side {
        flex-basis: 100%;
        text-align: center;
    }
    .content3 .content .item {
        flex-basis: 100%;
    }
}