.content1 .title {
    width: 100%;
    font-family: "Times New Roman";
    display: flex;
    align-items: center;
    justify-content: center;
}

.content1 .title img {
    width: auto;
    height: 75px;
}

.content1 .title h1 {
    padding-left: 5px;
    font-weight: bold;
    font-size: 48px;
}

.content1 h4 {
    text-align: center;
}

.content2 {
    text-align: center;
}

.content2 .item {
    border-radius: 25px;
    background-color: white;
    margin: 25px;
    padding: 5px 25px 15px 25px;
}

.content2 h3 {
    color: #e05227;
    font-weight: bold;
    font-size: 32px;
}

.content2 h4 {
    color: gray;
    font-weight: bold;
    margin-top: 0px;
}

.content2 p {
    color: #9d2b35;
    margin-bottom: 0px;
}

.content2 .unlock {
    width: 80%;
    height: auto;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    background: rgb(224, 82, 39);
    background: linear-gradient(90deg, rgba(224, 82, 39, 1) 0%, rgba(255, 108, 63, 1) 100%, rgba(243, 195, 158, 1) 100%);
}

.content3 .item {
    border-radius: 25px;
    background-color: white;
    padding: 15px 25px;
    margin: 10px 25px;
}

.content3 h2 {
    margin-top: 0px;
    color: #e05227;
    font-weight: bold;
}

.content4 h4 {
    color: #e05227;
    font-weight: bold;
    font-size: 32px;
}

.content4 .item {
    background-color: white;
    border-radius: 25px;
    margin: 25px;
    padding: 15px;
}

.content4 .detail {
    display: flex;
}

.content4 .detail .left-side {
    width: 50%;
}

.content4 .detail .right-side {
    width: 50%;
    text-align: right;
    font-weight: bold;
}

.content4 .item h2 {
    font-weight: bold;
    color: #9d2b35;
}

/* FOR LAPTOP SMALL SIZE */

@media screen and (max-width: 1320px) and (min-width: 1024px) {}

/* FOR TABLET DEVICE */

@media screen and (max-width: 1023px) and (min-width: 600px) {
    .content2 .item {
        margin: 15px;
    }
}

/* FOR MOBILE DEVICE */

@media screen and (max-width: 600px) {}