#sidebar-nav {
    padding-top: 100px !important;
}

.btn-login {
    border-radius: 15px;
    font-weight: bold;
}

.btn-primary {
    background-color: #74b7bd;
    border-color: #74b7bd;
    min-width: 50px !important;
}

.navbar-footer {
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.navbar-footer h5 {
    color: #8AD6DD;
    font-weight: bold;
    margin: 0px;
}

.navbar-footer img {
    margin-right: 5px;
}

.slimScrollDiv {
    height: 85% !important;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #8AD6DD;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.spin-big {
    font-size: 50px;
    height: 50px;
    width: 50px;
    color: #74B7BD;
}

.loading-overlay {
    visibility: hidden;
    width: 100%;
    height: 100%;
    padding-left: calc(50vw - 100px);
    padding-top: calc(50vh - 100px);
    position: fixed;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.loading-overlay h5 {
    font-weight: bold;
    font-size: 18px;
    margin-left: -20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}