#content1 {
    width: 100%;
    text-align: center;
}

#content1 h1 {
    color: #7cc0c5;
    font-weight: bold;
    font-size: 42px;
}

#content1 h4 {
    font-size: 20px;
}

#content2 {
    margin: 50px 25px;
}

#content3 {
    margin-top: 50px;
}

.item {
    text-align: center;
    border-radius: 25px;
    max-width: 500px;
    padding: 25px;
    background-color: white;
    margin: 15px auto;
}

.item h3 {
    color: #8DD7DC;
    font-weight: bold;
    font-size: 34px;
}

.item h4 {
    font-weight: bold;
    font-size: 24px;
}

.panel-title {
    font-weight: bold !important;
    color: #7cc0c5;
}

.tab-content>.tab-pane {
    display: none;
    height: 0;
    overflow: hidden;
}

.tab-content>.tab-pane.active {
    height: auto;
    display: block;
}

.modal-body input {
    width: 75%;
    border-radius: 15px;
    padding: 5px;
}

.modal-content {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-primary {
    min-width: 120px;
}

#content3 .item h3 {
    color: #7cc0c5;
    font-weight: bold;
    font-size: 34px;
}

.modal-content {
    text-align: center;
    border: none;
    padding: 15px;
    padding-bottom: 25px;
}

#modal-address {
    border: 1px solid black;
    padding: 5px;
}

#icon-copy {
    color: black;
    margin-left: 10px;
    cursor: pointer;
}

#icon-copy:hover {
    color: #7cc0c5;
}

#tooltip {
    left: 50%;
    border-radius: 15px;
    color: white;
    background-color: #7cc0c5;
    padding: 4px;
    position: absolute;
    font-size: 12px;
    opacity: 0;
    transition: all 1s;
    pointer-events: none;
}

#inp_copy {
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
}

.container-address {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.modal-content {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}